{% extends "account/base.html" %}

{% block title %}Log in{% endblock %}

{% block heading %}Најавување во хаклабот{% endblock %}

{% block content %}


{% if user.is_authenticated %}
<p>Веќе сте најавени како {{ user.username }}. Одјавете се <a href="{% url django.contrib.auth.views.logout %}">овде</a></p>
{% else %}
{% if message %}
	<h3>{{ message }}</h3>
{% endif %}
<div class="form">
	{% if form.errors %}
	<h3 class="error">Account-от не постои или не е пуштен</h3>
	{% endif %}

	<form method="post" action="?next={% url hacklab.biblioteka.views.index %}">
		{% csrf_token %}
		<div class="form_field">
			<label for="id_username">Корисник:</label>{% if form.username.errors %} <span class="error">{{ form.username.errors|join:", " }}</span>{% endif %}
			{{ form.username }}
		</div>
		<div class="form_field">
			<label for="id_password">Лозинка:</label>{% if form.password.errors %} <span class="error">{{ form.password.errors|join:", " }}</span>{% endif %}
			{{ form.password }}
		</div>
		<p><input class="button" type="submit" value="Најавете се" /></p>
		<p class="link">Доколку сте ја заборавиле лозинката, <a href="{% url reset_password %}">кликнете овде.</a></p>
		<p class="link">Доколку немате кориснички профил, <a href="{% url hacklab.registration.views.register %}">регистрирајте се овде.</a></p>
	</form>
</div>



{% endif %}
</div>
{% endblock %}
