@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  background:#ffffff;
  font-family: Nimbus Sans L, Verdana;
  font-size: 0.69em;
  color: #222222;
  margin:0;
  padding:0;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: #003399;
  background-color: transparent;
  text-decoration:none;
  color:#333333;
}
a:hover {
  text-decoration:underline;
}


h1 {
	font-size:3em;
	font-family:URW Gothic L, Century Gothic;
	padding:10px 23px 40px 25px;
	background:#94BDD1;
	display:block;
	font-weight:normal;
	text-transform:uppercase;
}
h1 a:hover, h1 a {
	color:#ffffff;
	text-decoration:none;
}
h2 {
  font-weight: bold;
  font-size:1.5em;
  margin:10px 0;
}

code {
  font-family: Monaco, Verdana, Sans-serif;
  font-size: 12px;
  background-color: #f9f9f9;
  border: 1px solid #D0D0D0;
  color: #002166;
  display: block;
  margin: 14px 0 14px 0;
  padding: 12px 10px 12px 10px;
}
.clear {
	clear:both;
}
table tr th:first-child { 
  text-align:right;
  padding:0 10px 0 5px;
}
.errorlist, .error_list, .error, div.content h2.error {
  color:#dd3333;
}

.ar, .ra {
	text-align:right;
}
.ac, .ca {
	text-align:center;
}
ul {
	padding:0 0 0 30px;
}
ul ul {
	padding:0;
}
/* ---------------------------------------- */

div.container {
	margin:0 auto;
}
div.header div.right {
	float:right;
	text-align:right;
	padding:10px 0;
}
div.header div.right a {
	margin:0 5px;
}
div.header div.right div.search{
	margin:5px 0 0 0;
}
div.header div.right div.search input {
	border:1px solid #abadb3;
	padding:5px;
	width:260px;
}
div.header div.right div.search input.search_button {
	background:#e9edf3;
	color:#144b6a;
	border:none;
	width:auto;
	cursor:pointer;
}
div.submenu {
	margin:-30px 0 0 0;
/* 	border-bottom:1px solid #99afaf; */
	background:#f0f0f0;
	float:left;
}
div.submenu a {
	display:block;
	font-size:1.1em;
	padding:10px;
	float:left;
	color:#465c7c;
	border:1px solid #afafaf;
	border-bottom:0;
	border-left:0;
}
div.submenu a:hover {
	background:#f0f0f0 url(../img/menu_bkg.png) top repeat-x;
	text-decoration:none;
/* 	color:#000000; */
}
div.link_bar {
	float:left;
	width:200px;
	background:#efefef;
	margin:-20px -1px 0 -20px;
	padding:20px 0;
}
div.link_bar form {
	padding:0 0 0 10px;
	margin:0 0 20px 0;
}
div.link_bar h3 {
	padding:10px;
	font-size:1.5em;
}
div.link_bar a {
	display:block;
	padding:5px 10px;
	font-size:1.3em;
}
div.link_bar a:hover {
	background:#ffffff;
	text-decoration:none;
}
div.header div.user_box {
  float:right;
  text-align:right;
  color:#ffffff;
  margin:-20px 30px 0 0;
}
div.header div.user_box a {
  padding:5px 0;
  font-weight:bold;
  color:#ffffff;
}
div.header div.user_box a:hover {
  text-decoration:underline;
}
div.meni {
	clear:both;
	background:#356aa0;
	height:26px;
}
div.meni a {
	font-size:1.1em;
	font-weight:bold;
	letter-spacing:1px;
	text-transform:uppercase;
	display:block;
	float:left;
	border:1px solid #194675;
	border-top:none;
	border-bottom:none;
	padding:5px 25px;
	color:#FFFFFF;
}
div.meni a:hover {
	background:#6e8eae;
	text-decoration:none;
}
div.meni a.selected, div.meni a.selected:hover {
	background:#FFFFFF;
	border:1px solid #c6c6c6;
	border-bottom:1px solid #ffffff;
	color:#194675;
}
/* ---------------------------------------- */
div.main {
	padding:0 25px;
}
div.content h2 {
	border-bottom:1px solid #d7d7d7;
	margin:0 0 40px 0;
	color:#5f5f5f;
	padding:20px 20px 15px 25px;
	font-size:1.3em;
	background:#f0f0f0;
}
div.content h2 b {
	color:#8899cc;
}
div.content p {
	font-size:1.2em;
	color:#444444;
}
div.content div.pagination {
	padding:5px 5px 10px 5px;
	margin:-40px 0 0 0;
	background:#f1f1f1;
	border-bottom:1px solid #cfcfcf;
}
div.content div.pagination a,
div.content div.pagination b {
	padding:2px 5px;
	background:#ffffff;
	margin:5px 0 0 5px;
	border:1px solid #cfcfcf;
	text-decoration:none;
	font-weight:bold;
	display:block;
	float:left;
}
div.content div.pagination a:hover, 
div.content div.pagination a.selected {
	background:#356aa0;
	border:1px solid #afafaf;
	color:#ffffff;
}
div.content div.lista {
	margin:-20px 0 60px 0;
	padding:0;
}
div.content div.lista table {
	font-size:1.2em;
}
div.content div.history table {
	border-left:1px solid #e8e8e8;
}
div.content div.lista table a {
	display:inline;
}
div.content div.lista table tr th {
/* 	background:#77A0BD; */
/* 	color:#ffffff; */
}
div.content div.lista table tr th, 
div.content div.lista table tr td {
	margin:10px 0;
	border-bottom:1px dashed #cfcfcf;
	padding:5px 30px 5px 5px;
	vertical-align:middle;
}
div.content div.lista table tr th {
	text-align:left;
	color:#4f4f4f;
}
div.lista table tbody tr td a.title {
	font-weight:bold;
	color:#5599ee;
	display:block;
}
div.user_details {
	width:400px;
	margin:0px 0 0 0;
}
div.book_details {
	padding:0;
	margin:-20px 0 0 0;
}
div.book_details p, div.user_details p {
	padding:10px 0;
	border-bottom:1px dashed #cfcfcf;
}
div.book_details p a, div.user_details p a {
	font-weight:bold;
}
div.book_details p b, div.user_details p b{
	color:#855825;
	width:200px;
	display:block;
	float:left;
}
div.cart_list table tr td {
	border-style:dashed;
}
div.lista div.proizvod form input.input{
	width:50px;
}
div.lista div.proizvod p form {
	display:inline;
}
a.button {
	padding:7px 10px;
	background:#f5e8e8;
	font-size:0.9em;
	border:1px solid #afafaf;
}
a.button:hover {
	text-decoration:none;
	background:#cf9393;
}
div.win div.bkg {
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#ffffff;
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	position:absolute;
	z-index:54;
} 
div.win div.win {
	position:absolute;
	z-index:100;
	top:35%;
	left:40%;
	width:300px;
	border:1px solid #9f9f9f;
}
div.win div.title {
	padding:5px 10px;
	background:#356AA0;
	color:#ffffff;
	font-weight:bold;
}
div.win div.message {
	background:#ffffff;
	padding:10px;
	text-align:center;
}
div.win div.win a { 
	display:block;
	background:#A7C95D;
	padding:5px;
	width:130px;
	text-align:center;
	margin:10px auto 0 auto;
	text-decoration:none;
	border:1px solid #8f8f8f;
}
div.win div.win a:hover {
	background:#CBE396;
}
/* ------------------------------------------- INDEX */
div.form {
  font-size:1.2em;
  padding:0 25px;
}
div.form form div.form_field {
  color:#5f88aa;
}
div.form form div.form_field, 
div.form form ul, 
div.form form p {
  padding:2px;
  overflow:hidden;
}

div.form form div.form_field label, 
div.form form div.form_field input, 
div.form form div.form_field select, 
div.form form div.form_field textarea {
  clear:none;
  padding:5px;
  display:block;
  color:#2f2f2f;
  font-size:1em;
}
div.form form div.form_field p {
  float:none;
  clear:left;
  margin:0;
}
div.form p.link {
  margin:2px 0 0 0;
  font-size:0.9em;
}
div.form p.link a,
div.form div.form_field label a { 
  font-weight:bold;
}
div.main p a {
  font-weight:bold;
}
div.form p.link a:hover,
div.form div.form_field label a:hover,
div.main p a:hover {
  text-decoration:underline;
} 

div.form form div.form_field label {
  width:180px;
  padding:7px 3px 3px 3px;
}
div.form form p input.button {
  clear:both;
  margin:5px 0 0 0;
  width:auto;
  border:auto;
  padding:5px;
}
div.form form div.form_field input, 
div.form form div.form_field select, 
div.form form div.form_field textarea {
  border:1px solid #7f7f7f;
}
div.form form div.form_field input, 
div.form form div.form_field select {
  width:auto;
}

.i, .i a {
	font-style:italic;
	color:#7f7f7f;
}

tr.i {
	background:#f9eeee;
}
