{% extends "account/base.html" %}

{% block extrahead %}
{% endblock %}

{% block page_title %}Немате привилегии за оваа страна{% endblock %}

{% block main_content %}
<h2>Најавени сте како {{ user }}</h2>
<div class="main">
	<div class="book_details">
	<p>Oваа страна ја добивте бидејќи немате привилегии за бараната функционалност!</p>
	<p>Доколку имате сметка која ја дозволува оваа функционалност <a href="/account/logout/">одјавете се</a> и потоа најавете се <a href="/account/login/{{ uri.query }}">овде</a></p>
	</div>
</div>
{% endblock %}
