{% extends "account/base.html" %}

{% block title %}Промена на лозинка{% endblock %}

{% block heading %}Промена на лозинка{% endblock %}

{% block content %}
{% if errors %}
<p class="error">{{ errors }}</p>
{% endif %}
<div class="form">
<form method="post" action="">
<div class="form_field">
<label for="id_stara_lozinka">Стара лозинка:</label>
{{ form.old_password }}
</div>
<div class="form_field">
<label for="id_nova_lozinka">Нова лозинка:</label>
{{ form.new_password1 }}
</div>
<div class="form_field">
<label for="id_nova_lozinka2">Потврда на лозинката:</label>
{{ form.new_password2 }}
</div>

<p><input class="button" type="submit" value="Сменете ја лозинката" /></p>
</form>
</div>
{% endblock %}
