Здраво {{ user.username }},
вашето барање за ресетирање на лозинката беше успешно прифатено.

За да го извршите процесот на ресетирање на лозинката треба да ги направите следните чекори : 
	1. Кликнете го линкот за креирање на нова лозинка 
	2. Внесете нова лозинка по Ваш избор

------------------------------------------------------------------------------------------------
ЛИНК ЗА КРЕИРАЊЕ НА НОВА ЛОЗИНКА 

{{ protocol }}://www.{{ site_name }}/account/reset_password/{{ uid }}-{{ token }}

------------------------------------------------------------------------------------------------

Доколку сакате да ја смените оваа лозинка, тогаш посетете го линкот
http://www.{{ site_name }}/account/change_password/ 
откако ќе се најавите на страната.
