body {
 font:10pt/14pt sans-serif;
}

A:link { color:#275A78; text-decoration:none; }
A:hover { color:#333333; text-decoration:underline; }
A:active { color:#275A78; text-decoration:none; }
A:active:hover { color:#333333; text-decoration:underline; }
A:visited { color:#275A78; text-decoration:none; }
A:visited:hover { color:#333333; text-decoration:underline; }

/*Margins for inner DIV inside each DIV (to provide padding)*/
.innertube{ margin: 20px; margin-top: 40px;}
#maincontent .innertube{ margin-left: 34px; margin-right: 34px}

#maincontent {
 background: url(shadow.gif) #fff repeat-y top left;
 text-align:justify;
 font: sans-serif;
}

#sidebar {
 font: 16pt/14pt sans-serif;
 color: #275A78;
 line-height: 1em;
 background:url(h.png) no-repeat top #39687e;
}

#sidebar h3 {
 color: #275A78;
 font-size: 20px;
 font-weight: bold;
}

#sidebar h4 {
 font-size: 70%;
 font-weight: normal;
}

ul#navlist {  padding:160px 0 0 0; margin:0 -20px;}
#navlist li {
 list-style-type: none;
 font-family: sans-serif;
 font-size: 12px;
 color: #000000;
 border-bottom:1px solid #395968;
}
#navlist li a { color: #000000; text-decoration:none; padding:5px 25px; display:block; }
#navlist li a:visited { color: #333333; text-decoration:none; }
#navlist li a:hover {color: #436670; text-decoration:none; background:#b7c4d1; }

#maincontent h3 {
 font-size: 21px;
 font-weight: bold;
 color: #14526a;
}

#footer {
 /*visibility: hidden;*/
 background:transparent;
 height:66px;
 font: 6pt sans-serif;
 color:#333333;
 text-align: right;
 float: right;
}

.fixme {color: red}

hr {
 color:#275A78; background-color:#275A78; height:1px; border: 0;
}
