body{
 margin: 0;
 padding: 0;
 border: 0;
 overflow: hidden;
 height: 100%;
 max-height: 100%;
}

#sidebar {
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 width: 380px; /*Width of frame div*/
 height: 100%;
 overflow: hidden; /*Disable scrollbars. Set to "scroll" to enable*/
}

#maincontent {
 position: fixed;
 top: 0;
 left: 380px; /*Set left value to WidthOfFrameDiv*/
 right: 0;
 bottom: 0;
 overflow: auto;
}

* html body{ /*IE6 hack*/
padding: 0 0 0 200px; /*Set value to (0 0 0 WidthOfFrameDiv)*/
}

* html #maincontent{ /*IE6 hack*/
 height: 100%;
 width: 100%;
}
