{% extends 'biblioteka/base.html' %}

{% block title %}Библиотека | Детали за {{ kniga.title }}{% endblock %}
{% block extrahead %}
	<script type="text/javascript" src="/site-media/js/close_win.js"></script>
{% endblock %}

{% block heading %}{{ heading }}{% endblock %}
	
{% block content %}
<div class="main">
	<div class="book_details">
		<p><img src="{% if kniga.external_image_url %}{{ kniga.external_image_url }}{% else %}{{ kniga.image }}{% endif %}" /></p>
		<p><b>ISBN</b> {{ kniga.ISBN }}</p>
		<p><b>Автор{% ifnotequal kniga.authors.count 1 %}и{% endifnotequal %}</b>
		{% for a in kniga.authors.all %}
		<a href="/biblioteka/avtor/{{ a.id }}">{{ a.name }}</a>
		{% if not forloop.last %}, {% endif %}
		{% endfor %}
		</p>
		<p><b>Издавач</b> <a href="/biblioteka/izdavac/{{ kniga.publisher.id }}/" title="година на издавање">{{ kniga.publisher }}</a></p>
		<p><b>Година</b> <a href="/biblioteka/godina/{{ kniga.release_year }}/" title="година на издавање">{{ kniga.release_year }}</a></p>
		<p><b>Тагови</b> {% for t in tags %}<a href="/biblioteka/tag/{{ t }}">{{ t }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
		<p><b>Копии</b> {{ kniga.in_stock }}</p>
		<form method="post" action="/biblioteka/rezerviraj/">
		<input type="hidden" name="kniga" value="{{ kniga.id }}" />
		<p><input type="submit" name="submit_reservation" value="Резервирај ја книгата" /></p>
		</form>
		{% if perms.can_add_rental %}
		{% ifnotequal kniga.in_stock 0 %}
		<form action="/biblioteka/iznajmi/{{ kniga.id }}/" method="get">
			<p><input type="submit" name="submit_rent" value="Изнајми ја книгата" /></p>
		</form>
		{% endifnotequal %}
		{% endif %}
	
		
		{% ifnotequal kniga.in_stock kniga.quantity %}
		<form action="/biblioteka/vrati/{{ kniga.id }}/" method="get">
			<p><input type="submit" name="submit_rent" value="Врати ја книгата" /></p>
		</form>
		{% endifnotequal %}
	</div>
</div>	
{% endblock %}