{% extends 'biblioteka/base.html' %}

{% block title %}Библиотека | Сите книги{% endblock %}
{% block extrahead %}
	<script type="text/javascript" src="/site-media/js/close_win.js"></script>
{% endblock %}

{% block heading %}{{ heading }}{% endblock %}

{% block content %}
<div class="main">
	<div class="lista">
	<table>
	<thead>
	<tr><th>Слика</th><th>ISBN</th><th>Податоци</th><th>Резервирај</th>{% if perms.can_add_rental %}<th>Изнајми</th>{% endif %}</tr>
	</thead>
	<tbody>
	{% for kniga in knigi %}
		<tr {% ifequal kniga.in_stock 0 %}class="i"{% endifequal %}>
		<td><img src="{% if kniga.external_image_url %}{{ kniga.external_image_url }}{% else %}{{ kniga.image }}{% endif %}" height="50" /></td>
		<td>{{ kniga.ISBN }}</td>
		<td class="title">
			<a href="/biblioteka/kniga/{{ kniga.id }}/" title="детали за книгата" class="title">{{ kniga.title }}</a>
			од
			{% for author in kniga.authors.all %}
			<a href="/biblioteka/avtor/{{ author.id }}/" title="класа">{{ author }}</a>
			{% endfor %}
			 - 
			<a href="/biblioteka/izdavac/{{ kniga.publisher.id }}/" title="година на издавање">{{ kniga.publisher }}</a>
			, 
			<a href="/biblioteka/godina/{{ kniga.release_year }}/" title="година на издавање">{{ kniga.release_year }}</a>
		</td>
		<td class="ca">
			<!-- if kniga in user.reservation_set.all 
			<img src="/site-media/img/nres.png" alt="Има резервација за оваа книга">
			 else -->
			<form method="post" action="/biblioteka/rezerviraj/">
				<input type="image" name="kniga" value="{{ kniga.id }}" src="/site-media/img/res.png" />
			</form>
			<!-- endif -->
		</td>
		{% if perms.can_add_rental %}
		<td class="ca">
				{% ifequal kniga.in_stock 0 %}
				<img src="/site-media/img/nok.png" alt="Нема преостанати копии во библиотеката">
				{% else %}
				<form action="/biblioteka/iznajmi/{{ kniga.id }}/" method="get">
					<input type="image" name="kniga" value="{{ kniga.id }}" src="/site-media/img/ok.png" />
				</form>
				{% endifequal %}
		</td>
		{% endif %}
		</tr>
	{% endfor %}
	</tbody>
	</table>
	</div>
	<div class="clear"></div>
	<div class="book_details">
	<p>Книгите напишани со <i>italic</i> се изнајмени и нема преостанати копии.</p>
	</div>
	<!--<div class="cart_details">
		<p>Имате <b>{{ item_count }}</b> книги во вашата кошничка.</p>
		<a href="/cart/submit/">Испратете ја нарачката</a>
	</div>-->
</div>
{% endblock %}