{% extends 'biblioteka/base.html' %}

{% block title %}Библиотека | Сите книги{% endblock %}
{% block extrahead %}
	<script type="text/javascript" src="/site-media/js/close_win.js"></script>
{% endblock %}

{% block heading %}{{ heading }}{% endblock %}

{% block content %}
<div class="main">
	<div class="lista">
	<table>
	<thead>
	<tr><th>Слика</th><th>Податоци</th><th>Резервирана</th><th>Реден број</th><th>Изнајми</th></tr>
	</thead>
	<tbody>
	{% for res in reservations %}
		<tr {% ifequal res.book.in_stock 0 %}class="i"{% endifequal %}>
		<td><img src="{% if res.book.external_image_url %}{{ res.book.external_image_url }}{% else %}{{ res.book.image }}{% endif %}" height="50" /></td>
		<td class="title">
			<a href="/biblioteka/kniga/{{ res.book.id }}/" title="детали за книгата" class="title">{{ res.book.title }}</a>
			од
			{% for author in res.book.authors.all %}
			<a href="/biblioteka/avtor/{{ author.id }}/" title="класа">{{ author }}</a>
			{% endfor %}
			 - 
			<a href="/biblioteka/izdavac/{{ res.book.publisher.id }}/" title="година на издавање">{{ res.book.publisher }}</a>
			, 
			<a href="/biblioteka/godina/{{ res.book.release_year }}/" title="година на издавање">{{ res.book.release_year }}</a>
		</td>
		<td class="ca">
			од
			<b>{{ res.reserved_by.get_full_name }}</b>
			на
			<b>{{ res.reserved_on|date:"d N Y" }}</b>
			во
			<b>{{ res.reserved_on|date:"H:m" }}h</b>
		</td>
		<td class="ca">
			{{ res.ordinal }}
		</td>
		<td class="ca">
			{% if perms.can_add_rental %}
				{% ifequal kniga.in_stock 0 %}
				<img src="/site-media/img/nok.png" alt="Нема преостанати копии во библиотеката">
				{% else %}
				<form action="/biblioteka/iznajmi/{{ res.book.id }}/" method="get">
					<input type="image" name="kniga" value="{{ res.book.id }}" src="/site-media/img/ok.png" />
				</form>
				{% endifequal %}
			{% endif %}
		</td>
		</tr>
	{% endfor %}
	</tbody>
	</table>
	</div>
	<div class="clear"></div>
	<div class="book_details">
	<p>Книгите напишани со <i>italic</i> се изнајмени и нема преостанати копии.</p>
	</div>
	<!--<div class="cart_details">
		<p>Имате <b>{{ item_count }}</b> книги во вашата кошничка.</p>
		<a href="/cart/submit/">Испратете ја нарачката</a>
	</div>-->
</div>
{% endblock %}