{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans 'ресетирање на лозинка' %}{% endblock %}

{% block heading %}
{% if validlink %}
Внесете ја новата лозинка
{% else %}
Погрешен линк
{% endif %}
{% endblock %}

{% block content %}
{% if validlink %}
<div class='form'>
<form action="" method="post">
{{ form.new_password1.errors }}
<div class="form_field"><label for="id_new_password1">{% trans 'Нова лозинка:' %}</label>{{ form.new_password1 }}</div>
{{ form.new_password2.errors }}
<div class="form_field"><label for="id_new_password2">{% trans 'Потврда на лозинката:' %}</label>{{ form.new_password2 }}</div>
<p><input type="submit" value="{% trans 'Потврди' %}" class='button' /></p>
</form>
</div>
{% else %}
<div class="main">
<p>{% trans "Линкот за ресетирање на лозинката е погрешен, најверојатно затоа што бил претходно искористен. Ве молиме повотрете ја постапката за ресетирање на лозинката." %}</p>
</div>
{% endif %}

{% endblock %}
