{% extends "account/base.html" %}

{% block title %}Нова лозинка{% endblock %}


{% block heading %}Заборавена лозинка?{% endblock %}

{% block content %}
<div id="st">

{% if user.is_authenticated %}
<div class="main">
	<p>Ако сакате да ја смените лозинката, тогаш може директно да го направите тоа <a href="{% url changepassword %}">тука.</a></p>
{% else %}
{% if form.errors %}
<p class="error">{{ form.errors }}</p>
{% endif %}
<div class="form">
<form method="post" action="">
    <div class="form_field"><label for="id_stara_lozinka">Email адреса:</label>
    {{ form.email }}
    </div>
	<p><input class="button" type="submit" value="Прати ми нова лозинка" /></p>
</form>
{% endif %}
</div>
{% endblock %}
