<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ХакЛаб КИКА - Грешка во апликацијата</title>
<link rel="electrorama icon" href="/site-media/img/favicon.ico" type="image/x-icon" />
<link type="text/css" rel="stylesheet" media="all"  href="/site-media/css/kika.css" />
<script src="/site-media/js/scroll.js" type="text/javascript"></script>
<script src="/site-media/js/jscroller2-1.61.js" type="text/javascript"></script>
{% block extrahead %}{% endblock %}
</head>

<body>
	<div class="container">
        <div class="header">
			<h1><a href="/">ХакЛаб КИКА</a></h1>
			<div class="clear"></div>
        </div>
        <div class="content_container">
            <p>&nbsp;</p>
            <div class="content">
                <h2 class="error">404 - Страницата не беше пронајдена</h2>
                <div class="main">
                <p>Ивинете, но серверот не можеше да ја врати бараната страница.</p>
				<p>Оваа страница ја добивте по грешка или заради несоодветно користење.</p>
				</div>
			</div>
            </div>
        </div>
	</div>
</body>
</html>
