<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ХакЛаб КИКА - Почетна страна</title>
<link rel="electrorama icon" href="/site-media/img/favicon.ico" type="image/x-icon" />
<link type="text/css" rel="stylesheet" media="all"  href="/site-media/css/kika.css" />
<script src="/site-media/js/scroll.js" type="text/javascript"></script>
<script src="/site-media/js/jscroller2-1.61.js" type="text/javascript"></script>
{% block extrahead %}{% endblock %}
</head>

<body>
	<div class="container">
		<div class="content_container">
        <div class="content">
        <p>&nbsp;</p><p>&nbsp;</p>
        <h2>Добредојдовте на сајтот на КИКА</h2>
		<div class="main">
			<p>Сега за сега има само <a href="/biblioteka/">Библиотека</a></p>
		</div>	
		</div>
</body>
</html>
